# Virtual Environment
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3
*.db

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Django static files
staticfiles/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local