# Virtual Environment
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static build files (future)
staticfiles/