{% extends 'main.html' %}

{% block content %}

<div>

    {% if page == 'login' %}

<form method="POST"  action="">

    {% csrf_token %}

    <label for="">username:</label>  
    <input type="text" name="username" placeholder="username here" />
    
    <label for="">password:</label>
    <input type="password" name="password" placeholder="password here" />

    
    <input type="submit" value="Login" placeholder="username here" />


</form>

<p>Havent loged in yet</p>
<a href="{% url 'register' %}">Sign up</a>

</div>

{% else %}

<div>

    <form method="POST"  action="">
    
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" />
    
    
    </form>

    <p>havent loged in yet</p>
<a href="{% url 'login' %}">Login</a>
    
    </div>
{% endif %}

{% endblock content %}